html,
body,
#overlay {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0px;
}

body {
    background: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
    background-size: cover;
}

#overlay {
    -webkit-animation: colorcycle 20s infinite;
    animation: colorcycle 20s infinite;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

@-webkit-keyframes colorcycle {
    0% {
        background: #a24de3;
    }
    25% {
        background: #00aeff;
    }
    50% {
        background: #f45a4a;
    }
    75% {
        background: #4fd1cd;
    }
    100% {
        background: #a24de3;
    }
}

@keyframes colorcycle {
    0% {
        background: #a24de3;
    }
    25% {
        background: #00aeff;
    }
    50% {
        background: #f45a4a;
    }
    75% {
        background: #4fd1cd;
    }
    100% {
        background: #a24de3;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
